<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="Asta.png" width="150px" height="65px"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isHome}}
            <li class="active"><a href="/">Home</a></li>
        {{else}}
            <li><a href="/">Home</a></li>
        {{/if}}
        
        {{#if isCats}}
            <li class="active"><a href="/cats">Cats</a></li>
        {{else}}
            <li><a href="/cats">Cats</a></li>
        {{/if}}
        
        {{#if isDog}}
            <li class="active"><a href="/dog">Dog Pictures</a></li>
        {{else}}
            <li><a href="/dog">Dog Pictures</a></li>
        {{/if}}
        </ul>
    </div>
</nav>